= form_for @add_watched_show do |f|
  .small-4
    = f.label :rating
    = f.select :rating, options_for_select(@rating)
  .small-10
    = f.text_field :tvshow, placeholder: "TV show name", class: "typeahead"
  .actions
    = f.submit "Add Show", class: "button small success", id: "default_font"
