<p class="signupheader small-7 small-centered columns">Need to change something?</p>
<div class="small-6 small-centered columns auth-plain">
  <div class="signup-panel left-solid">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row collapse">
        <div class="small-2  columns">
          <span class="prefix"><i class="fi-mail"></i></span>
        </div>
        <div class="small-10 columns">
          <%= f.email_field :email, autofocus: true, placeholder: "email" %>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-2  columns">
          <span class="prefix"><i class="fi-lock"></i></span>
        </div>
        <div class="small-10 columns">
          <%= f.password_field :password, autocomplete: "off", placeholder: "#{@minimum_password_length} characters minimum" %>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-2  columns">
          <span class="prefix"><i class="fi-loop"></i></span>
        </div>
        <div class="small-10 columns">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation" %>
        </div>
      </div>

      <div class="row collapse">
        <div class="small-2  columns">
          <span class="prefix"><i class="fi-photo"></i></span>
        </div>
        <div class="small-10 columns">
          <span>Profile picture</span>
          <%= f.label :avatar do %>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          <% end %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button tiny success" %>
      </div>
    <% end %>

    <div class="row collapse">
      <div class = "small-4 columns">
         <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "button tiny alert", method: :delete %>
      </div>
      <div class="small-2 columns end">
        <%= link_to "Back", :back, class: "tiny button" %>
      </div>
    </div>
  </div>
</div>
