<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rajdhani' rel='stylesheet' type='text/css'>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%=" f l i x // c h i l l "%></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="pagewrap">
    <header>
      <%= render "layouts/navbar" %>
      <%= render "layouts/flash" %>
    </header>

    <div class="row ">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
